<!DOCTYPE html>
<html>
<head>
  <title>Add Location</title>
</head>
<body>
    <form action="/campuses" method="POST">
      <label>Campus Location</label>
        <input type="text" name="location">
          <button type="submit">Save</button>
  </form>
</body>
</html>