
body {
  margin:0;
}


header {
  text-align: center;
}

#image {
  height: auto;
  padding-left: 9cm;
}


#picture {
  padding-left: 5cm;
  font-size: 20px;
}

#text{
  text-align: center;
/*  border: 2px;
  border-style: solid;
  border-color: red;*/
  padding: 1em;
}

#text2{
  border: 2px solid black ;
  font-size: 50px
  width: 140px;
  margin-left: 14cm;
}

#button1 {
  text-align: center;
  border: 1px solid black;
  font-size: 16px;
  padding : {14px 40px;}
  display: inline-block;
  margin-top: 40px;
  margin-left: 14cm;
}


/*
# is for IDs
. is for classes */
