#contact-info p {
  line-height: .8em;
  font-size: .8em;
}
.job {
  border-radius: 25px;
  padding: 10px 20px;
  background-color: #e9e5dc;
  margin: 30px auto;

}
.accomplishment {
  font-size: .8em;
}
#resume-title:hover {
   background-color: yellow;
}
/* Release 3, #3: added accomplishment section within job section to specifically change font size of items in unordered list.; */